.banner {
  max-width: 1200px;
  min-height: calc(100vh - 6rem);
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    max-width: 640px;
  }

  section {
    max-width: 600px;

    h1 {
      font-size: 3.5rem;
      line-height: 4.5rem;
      font-weight: 900;
      margin-top: 2.5rem;
      color: var(--white);
    }

    span {
      display: inline-block;
      margin-top: 1rem;
      color: var(--white);
      line-height: 2rem;
      filter: brightness(0.8);
    }

    a {
      margin-top: 2rem;
      display: inline-block;
      width: fit-content;
      background-color: var(--blue-500);
      text-transform: uppercase;
      color: var(--white);
      font-weight: bold;
      padding: 1rem 1.8rem;
      border-radius: 6px;
      transition: filter 0.1s ease-out;

      &:hover {
        filter: brightness(1.1);
      }
    }
  }
}

.divider {
  border-color: var(--gray-200);
}

.wrapper {
  max-width: 1200px;
  margin: 5.5rem auto;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;

  section {
    max-width: 650px;

    h2 {
      font-size: 2.2rem;
      font-weight: 900;
      color: var(--white);
      line-height: 3.5rem;
    }

    span {
      display: inline-block;
      color: var(--white);
      filter: brightness(0.8);
      margin-top: 1rem;
      line-height: 2rem;
      max-width: 550px;
    }
  }

  img {
    max-width: 550px;
  }
}

.footer {
  max-width: 1200px;
  margin: 10rem auto 6rem;
  padding: 0 2rem;

  h2 {
    font-size: 2.5rem;
    line-height: 4rem;
    width: 90%;
    font-weight: 900;
    color: var(--white);

    span {
      color: var(--blue-500);
    }
  }

  span {
    display: inline-block;
    color: var(--white);
    filter: brightness(0.8);
    margin-top: 1rem;
  }

  a {
    display: block;
    margin-top: 2rem;
    width: fit-content;
    background-color: var(--blue-500);
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 1.8rem;
    border-radius: 6px;
    transition: filter 0.1s ease-out;

    &:hover {
      filter: brightness(1.1);
    }
  }
}

@media (max-width: 1130px) {
  .banner {
    img {
      max-width: 550px;
    }

    section {
      h1 {
        font-size: 3rem;
      }
    }
  }

  .wrapper {
    img {
      max-width: 350px;
    }
  }
}

@media (max-width: 955px) {
  .banner {
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    img {
      width: 100%;
      margin: 0 0 2rem;
    }

    section {
      text-align: center;

      h1 {
        font-size: 2.5rem;
        line-height: 3.5rem;
      }

      span {
        margin-top: 2rem;
      }
    }
  }

  .wrapper {
    flex-direction: column;
    margin: 4rem auto;
    gap: 3rem;

    section {
      h2 {
        font-size: 1.8rem;
        line-height: 3rem;
      }
    }

    img {
      width: 85%;
    }
  }

  .footer {
    text-align: center;
    margin-top: 6rem;

    img {
      width: 80% !important;
    }

    h2 {
      margin-top: 1rem;
      width: 100%;
      font-size: 2rem;
      line-height: 3rem;
    }

    a {
      margin: 3rem auto;
    }
  }
}
